body {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: auto;
  padding: 1em;
  max-width: 45em;
}

code {
  user-select: all;
}

#readme {
  border: 1px solid #888;
  background: rgb(255, 250, 240);
  padding: .5em;
  margin: -.5em;
  margin-bottom: 1em;
}
